<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集</title>
</head>
<body>
    <form action="/messages/<%= messages.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="messageContent" value="<%= messages.content %>">
        <input type="submit" value="編集する">
    </form>
</body>
</html>