<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>メッセージ</h1>
    
    <p><%= message.content %> </p>
    <ul>
        <% message.replies.map((reply) => { %>
        <li><%= reply.content %> </li>
        <% }) %>
    </ul>
    <h2>返信する</h2>
    <form action="/replies" method="POST">
        <input type="hidden" name="messageId" value="<%= message.id %>">
        <input type="text" name="replyContent">
        <input type="submit" value="返信する">
    </form>
    
</body>

</html>